<div class="document-viewer-container">
    <div class="document-viewer-header">
        <div class="document-header-wrapper">
            <app-button [btnClass]="backBtnClass" [buttonTitle]="backBtnTitle" [buttonInnerText]="backBtnInnerText" (click)="onBackButtonClick()"></app-button>
            <h1 class="document-header editable-title" contenteditable="true" spellcheck="false" (input)="onTitleChange($event)">{{currentDocument.documentTitle}}</h1>
        </div>
        <div class="document-header-button-wrapper">
            <app-button [btnClass]="duplicateBtnClass" [buttonTitle]="duplicateBtnTitle" [buttonInnerText]="duplicateBtnInnerText" (click)="onDuplicateBtnClicked()"></app-button>
            <app-button [btnClass]="saveBtnClass" [buttonTitle]="saveBtnTitle" [buttonInnerText]="saveBtnInnerText" (click)="onSaveBtnClicked()"></app-button>
            <app-button [btnClass]="shareBtnClass" [buttonTitle]="shareBtnTitle" [buttonInnerText]="shareBtnInnerText" (click)="onShareBtnClicked()"></app-button>
        </div>
    </div>
    <div class="document-viewer-body">
        <div class="document-viewer-body-action-bar">
            <app-button [btnClass]="sidebarDownloadBtnClass" [buttonTitle]="sidebarDownloadBtnTitle" [buttonInnerText]="sidebarDownloadBtnInnerText" (click)="onClickDownloadBtn()"></app-button>
            <app-button [btnClass]="sidebarEditBtnClass" [buttonTitle]="sidebarEditBtnTitle" [buttonInnerText]="sidebarEditBtnInnerText" (click)="onClickEditBtn()"></app-button>
            <app-button [btnClass]="sidebarCommentBtnClass" [buttonTitle]="sidebarCommentBtnTitle" [buttonInnerText]="sidebarCommentBtnInnerText" (click)="onClickCommentBtn()"></app-button>
        </div>
        <div class="document-preview-cotainer">
                <div class="doc-canvas">
                    <app-document-editor (ContentValueChanged)="onContentChange($event)" [content]="currentDocument.documentContent" [isReadOnly]="ReadingMode"></app-document-editor>
                </div>
        </div>
        <div class="document-metadata-container">
            <div class="document-metadata-header">
                <div class="md-header" *ngIf="!ReadingMode">Versions</div>
                <div class="md-header" *ngIf="ReadingMode">AI Tools</div>
                <div class="md-header">Comments</div>
            </div>
            <div class="document-metadata-body"></div>
        </div>
    </div>
</div>